.eph-overlay-generator-overlay {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}

.eph-overlay-generator-overlay input,
.eph-overlay-generator-overlay label,
.eph-overlay-generator-overlay select,
.eph-overlay-generator-overlay button,
.eph-overlay-generator-overlay textarea
{
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;

    /* Browsers have different default form fonts */
    font-size: 13px;
    font-family: Arial, sans-serif;
}

/* Remove the stupid outer glow in Webkit */
.eph-overlay-generator-overlay input:focus
{
    outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
.eph-overlay-generator-overlay input,
.eph-overlay-generator-overlay textarea
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
.eph-overlay-generator-overlay button,
.eph-overlay-generator-overlay input[type=reset],
.eph-overlay-generator-overlay input[type=button],
.eph-overlay-generator-overlay input[type=submit],
.eph-overlay-generator-overlay input[type=checkbox],
.eph-overlay-generator-overlay input[type=radio],
.eph-overlay-generator-overlay select
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
.eph-overlay-generator-overlay input[type=date],
.eph-overlay-generator-overlay input[type=datetime],
.eph-overlay-generator-overlay input[type=datetime-local],
.eph-overlay-generator-overlay input[type=email],
.eph-overlay-generator-overlay input[type=month],
.eph-overlay-generator-overlay input[type=number],
.eph-overlay-generator-overlay input[type=password],
.eph-overlay-generator-overlay input[type=range],
.eph-overlay-generator-overlay input[type=search],
.eph-overlay-generator-overlay input[type=tel],
.eph-overlay-generator-overlay input[type=text],
.eph-overlay-generator-overlay input[type=time],
.eph-overlay-generator-overlay input[type=url],
.eph-overlay-generator-overlay input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/
.eph-overlay-generator-overlay input[type=checkbox],
.eph-overlay-generator-overlay input[type=radio]
{
    width: 13px;
    height: 13px;
}

/* File Uploads
-----------------------------------------------*/
.eph-overlay-generator-overlay input[type=file]
{

}

/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
.eph-overlay-generator-overlay input[type=search]
{
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
.eph-overlay-generator-overlay ::-webkit-search-decoration
{
    display: none;
}

/* Buttons
-----------------------------------------------*/
.eph-overlay-generator-overlay button,
.eph-overlay-generator-overlay input[type="reset"],
.eph-overlay-generator-overlay input[type="button"],
.eph-overlay-generator-overlay input[type="submit"]
{
    /* Fix IE7 display bug */
    overflow: visible;
    width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
.eph-overlay-generator-overlay ::-webkit-file-upload-button
{
    padding: 0;
    border: 0;
    background: none;
}

/* Textarea
-----------------------------------------------*/
.eph-overlay-generator-overlay textarea
{
    /* Move the label to the top */
    vertical-align: top;

    /* Turn off scroll bars in IE unless needed */
    overflow: auto;
}

/* Selects
-----------------------------------------------*/
.eph-overlay-generator-overlay select
{

}

.eph-overlay-generator-overlay select[multiple]
{
    /* Move the label to the top */
    vertical-align: top;
}
