.eph-overlay-generator-overlay {
    position: absolute;
    opacity: 0.85;
    background-color: #ceceb2;
    z-index: 999;
    width: 400px !important;
    min-height: 60px !important;
    height: auto !important;
    border: 1px solid #333333;
    padding: 6px !important;
    display: none;
    font-family: Arial, sans-serif;
    font-size: 12px !important;
    box-shadow: 3px 3px 10px #888888 !important;
    border-radius: 0 0 5px 0 !important;
}

.eph-overlay-generator-overlay input {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px !important;
    border-radius: 0 !important;
    float: left !important;
    line-height: 23px !important;
}

.eph-overlay-generator-overlay input[type=checkbox] {
    margin-top: 0.2em !important;
    width: 13px !important;
    height: 13px !important;
    min-height: 13px !important;
    top: inherit !important;
    right: inherit !important;
    position: inherit !important;
}

.eph-overlay-generator-dialog {
    width: 100%;
    height: auto;
    display: table;
    position: relative !important;
    float: left !important;
    margin-bottom: 0.5em;
}

.eph-overlay-service-container, .eph-overlay-pass-container, .eph-overlay-button-container {
    max-width: 38%;
    margin-right: 0.3em !important;
    display: table-cell;
    float: left !important;
}

.eph-overlay-button-container {
    width: 20% !important;
    height: 100% !important;
    float: right !important;
}

.eph-overlay-show-pw-container {
    margin-top: 1.5em !important;
    width: 102% !important;
    position: relative !important;
}

.eph-overlay-service-container label, .eph-overlay-pass-container label {
    color: #000000 !important;
    display: block !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: .1em !important;
    white-space: nowrap !important;
    width: inherit !important;
    text-align: left !important;
}

label.eph-overlay-description-label {
    margin-left: 0.3em !important;
    margin-top: 0.3em !important;
    font-size: 12px !important;
    display: inline !important;
    width: auto !important;
    text-align: left !important;
    top: inherit !important;
    right: inherit !important;
}

.eph-overlay-generate {
    min-height: 50px !important;
    height: inherit !important;
    width: 100% !important;
    position: relative !important;
    font-weight: bold;
    font-size: 12px !important;
    float: right !important;
    margin-left: 5px !important;
    cursor: pointer !important;
    border: 1px solid #333333 !important;
    padding: 10px !important;
    background-color: #eeeeee !important;
}

.eph-overlay-servicename, .eph-overlay-passphrase {
    width: 150px !important;
    height: 20px !important;
    border: 1px solid #333333 !important;
    padding: 2px !important;
    margin-top: 2px !important;
    background-color: #ffffff !important;
    font-size: 12px !important;
    top: inherit !important;
    right: inherit !important;
    position: relative !important;
}

.eph-overlay-close {
    top: -7px;
    right: -6px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
}

.eph-overlay-close img {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    opacity: 0.8;
}

/** ---- overlay settings overwrite ---- */
.eph-overlay-extend {
    position: absolute !important;
    bottom: 5px !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer;
    width: 10px !important;
    height: 5px !important;
}

.eph-overlay-overlay-settings {
    display: none;
    position: relative !important;
    border-top: 2px dashed #333333 !important;
    height: auto !important;
    width: 100% !important;
    padding-top: 1em !important;
}

.eph-overlay-overlay-settings .eph-overlay-sub {
    display: inline !important;
}

.eph-overlay-overlay-settings label, .eph-overlay-overlay-settings input.eph-overlay-text {
    display: inline;
    float: left;
    margin-right: .5em;
    height: auto !important;
}

.eph-overlay-overlay-settings label {
    color: #555555 !important;
    margin-top: .5em;
}

.eph-overlay-overlay-settings .eph-overlay-length, .eph-overlay-overlay-settings .eph-overlay-repeat, .eph-overlay-overlay-settings .eph-overlay-savebox {
    float: left !important;
    margin-right: .8em !important;
    margin-bottom: 1em !important;
}

.eph-overlay-overlay-settings .eph-overlay-savebox {
    float: right !important;
    margin-right: 0 !important;
    width: auto !important;
}

.eph-overlay-overlay-settings #eph-overlay-save {
    margin: .5em .1em 0 0 !important;
    width: 18px !important;
}

.eph-overlay-overlay-settings .eph-overlay-savebox label {
    font-weight: bold !important;
}

.eph-overlay-overlay-settings input.eph-overlay-text {
    border: 1px solid #333333 !important;
    background-color: #dddddd !important;
    font-size: 1em !important;
    width: 3em !important;
    height: auto !important;
}

.eph-overlay-overlay-settings table label {
    display: inline !important;
}

.eph-overlay-overlay-settings table {
    border-collapse: collapse !important;
    clear: both !important;
    margin-top: 1em !important;
    width: 100% !important;
    vertical-align: baseline;
}

.eph-overlay-overlay-settings table input.eph-overlay-text {
    border: 0 !important;
    height: 1.5em !important;
    background-color: #ceceb0 !important;
    width: 1em !important;
    float: none !important;
}

.eph-overlay-overlay-settings table th, .eph-overlay-overlay-settings table td {
    border-left: 1px solid #ccc !important;
    padding: 4px 0 !important;
    text-align: left !important;
}
.eph-overlay-overlay-settings table th {
    color: #555555 !important;
    font-size: 90% !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    width: 30px !important;
}
.eph-overlay-overlay-settings table thead th {
    text-transform: none !important;
}
.eph-overlay-overlay-settings table thead tr {
    border-bottom: 1px solid #ccc !important;
}

.eph-overlay-overlay-settings table th:first-child, .eph-overlay-overlay-settings table td:first-child {
    border: none !important;
}

.eph-overlay-overlay-settings #eph-overlay-required {
    text-align: center !important;
}

.eph-overlay-overlay-settings .eph-overlay-requiredbox {
    vertical-align: baseline;
}

.eph-overlay-overlay-settings .eph-overlay-length input, .eph-overlay-overlay-settings .eph-overlay-repeat input {
    width: 2.5em !important;
}
