.vault-generator-overlay {
    position: absolute;
    opacity: 0.85;
    background-color: #ceceb2;
    z-index: 999;
    width: 400px !important;
    min-height: 60px !important;
    height: auto !important;
    border: 1px solid #333333;
    padding: 6px !important;
    display: none;
    font-family: sans-serif;
    font-size: 12px !important;
    box-shadow: 3px 3px 10px #888888 !important;
    border-radius: 0 0 5px 0 !important;
}

.vault-generator-overlay input {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px !important;
    border-radius: 0 !important;
    float: left !important;
    line-height: 23px !important;
}

.vault-generator-overlay input[type=checkbox] {
    margin-top: 0.2em !important;
    width: 13px !important;
    height: 13px !important;
    min-height: 13px !important;
    top: inherit !important;
    right: inherit !important;
    position: inherit !important;
}

.vault-generator-dialog {
    width: 100%;
    height: 100%;
    display: table;
    position: relative !important;
    float: left !important;
}

.vault-service-container, .vault-pass-container, .vault-button-container {
    max-width: 38%;
    margin-right: 0.3em !important;
    display: table-cell;
    float: left !important;
}

.vault-button-container {
    width: 20% !important;
    height: 100% !important;
    float: right !important;
}

.vault-show-pw-container {
    margin-top: 1.5em !important;
    width: 102% !important;
    position: relative !important;
}

.vault-service-container label, .vault-pass-container label {
    color: #000000 !important;
    display: block !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: .1em !important;
    white-space: nowrap !important;
    width: inherit !important;
    text-align: left !important;
}

label.description-label {
    margin-left: 0.3em !important;
    margin-top: 0.3em !important;
    font-size: 12px !important;
    display: inline !important;
    width: auto !important;
    text-align: left !important;
    top: inherit !important;
    right: inherit !important;
}

.vault-generate {
    min-height: 50px !important;
    height: inherit !important;
    width: 100% !important;
    position: relative !important;
    font-weight: bold;
    font-size: 12px !important;
    float: right !important;
    margin-left: 5px !important;
    cursor: pointer !important;
    border: 1px solid #333333 !important;
    padding: 10px !important;
    background-color: #eeeeee !important;
}

.vault-servicename, .vault-passphrase {
    width: 150px !important;
    height: 20px !important;
    border: 1px solid #333333 !important;
    padding: 2px !important;
    margin-top: 2px !important;
    background-color: #ffffff !important;
    font-size: 12px !important;
    top: inherit !important;
    right: inherit !important;
    position: relative !important;
}

.vault-passphrase {
    margin-top: 0.3em !important;
}

.vault-close {
    top: -7px;
    right: -6px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
}

.vault-close img {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    opacity: 0.8;
}