.generator-overlay {
    position: absolute;
    opacity: 0.85;
    background-color: #ceceb2;
    z-index: 999;
    width: 400px !important;
    min-height: 60px !important;
    height: auto !important;
    border: 1px solid #333333;
    padding: 6px !important;
    display: none;
    font-family: sans-serif;
    font-size: 12px !important;
    box-shadow: 3px 3px 10px #888888 !important;
    border-radius: 0 0 5px 0 !important;
}

.generator-overlay input {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px !important;
    border-radius: 0 !important;
    float: left !important;
    line-height: 23px !important;
}

.generator-overlay input[type=checkbox] {
    margin-top: 0.2em !important;
    width: 13px !important;
    height: 13px !important;
    min-height: 13px !important;
    top: inherit !important;
    right: inherit !important;
    position: inherit !important;
}

.generator-dialog {
    width: 100%;
    height: auto;
    display: table;
    position: relative !important;
    float: left !important;
    margin-bottom: 0.5em;
}

.service-container, .pass-container, .button-container {
    max-width: 38%;
    margin-right: 0.3em !important;
    display: table-cell;
    float: left !important;
}

.button-container {
    width: 20% !important;
    height: 100% !important;
    float: right !important;
}

.show-pw-container {
    margin-top: 1.5em !important;
    width: 102% !important;
    position: relative !important;
}

.service-container label, .pass-container label {
    color: #000000 !important;
    display: block !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding-bottom: .1em !important;
    white-space: nowrap !important;
    width: inherit !important;
    text-align: left !important;
}

label.description-label {
    margin-left: 0.3em !important;
    margin-top: 0.3em !important;
    font-size: 12px !important;
    display: inline !important;
    width: auto !important;
    text-align: left !important;
    top: inherit !important;
    right: inherit !important;
}

.generate {
    min-height: 50px !important;
    height: inherit !important;
    width: 100% !important;
    position: relative !important;
    font-weight: bold;
    font-size: 12px !important;
    float: right !important;
    margin-left: 5px !important;
    cursor: pointer !important;
    border: 1px solid #333333 !important;
    padding: 10px !important;
    background-color: #eeeeee !important;
}

.servicename, .passphrase {
    width: 150px !important;
    height: 20px !important;
    border: 1px solid #333333 !important;
    padding: 2px !important;
    margin-top: 2px !important;
    background-color: #ffffff !important;
    font-size: 12px !important;
    top: inherit !important;
    right: inherit !important;
    position: relative !important;
}

.passphrase {
    margin-top: 0.3em !important;
}

.close {
    top: -7px;
    right: -6px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
}

.close img {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    opacity: 0.8;
}

/** ---- overlay settings overwrite ---- */
.extend {
    position: absolute !important;
    bottom: 5px !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer;
    width: 10px;
    height: 5px;
}

.overlay-settings {
    display: none;
    position: relative;
    border-top: 2px dashed #333333;
    height: auto;
    width: 100%;
    padding-top: 1em;
}

.overlay-settings .sub {
    display: inline;
}

.overlay-settings label, .overlay-settings input.text {
    display: inline;
    float: left;
    margin-right: .5em;
    height: auto;
}

.overlay-settings label {
    color: #555555;
    margin-top: .5em;
}

.overlay-settings .length, .overlay-settings .repeat, .overlay-settings .save {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.overlay-settings .save {
    float: right;
}

.overlay-settings #save {
    margin: .5em .3em 0 0 !important;
}

.overlay-settings .save label {
    font-weight: bold;
}

.overlay-settings input.text {
    border: 1px solid #333333;
    background-color: #dddddd !important;
    font-size: 1em;
    width: 3em;
    height: auto;
}

.overlay-settings table label {
    display: inline;
}

.overlay-settings table {
    border-collapse: collapse;
    clear: both;
    margin-top: 1em;
    width: 100%;
}

.overlay-settings table input.text {
    border: 0;
    height: 1.5em;
    background-color: #ceceb0;
    width: 1em;
    float: none !important;
}

.overlay-settings table th, .overlay-settings table td {
    border-left: 1px solid #ccc;
    padding: 4px 0;
    text-align: left;
}
.overlay-settings table th {
    color: #555555;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
    width: 30px;
}
.overlay-settings table thead th {
    text-transform: none;
}
.overlay-settings table thead tr {
    border-bottom: 1px solid #ccc;
}

.overlay-settings table th:first-child, .overlay-settings table td:first-child {
    border: none;
}

.overlay-settings #required {
    text-align: center;
}